body{
    display:grid;
    place-content: center;
    min-height: 100vh;
    background-color: black;
    padding: 100px;
   
}

.address-container{
    background-color: white;
    border-style:solid ;
    padding: 2px;
    
}

h2{
    background-color:red;
    color:white;
    text-align: center;
   
}

.box{
   font-style: ;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}